<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/maatran_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/maatran_launcher_icon_round"
        android:theme="@style/Theme.maatranlogin">
        <activity
            android:name=".tests.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".tests.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tests.AppNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileViewActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.ReportsActivity" />
        <activity android:name=".ui.PatientsViewActivity" />
        <activity android:name=".ui.EditPatientActivity" />
        <activity android:name=".ui.BluetoothActivity" />
    </application>

</manifest>